#wrapperHeader{
    position: relative;
    background-image:url(/sunset_photo.jpg);
}

#header{
    left: 50%;
    margin-left: -500px;
    background:url(/sunset_photo.jpg) no-repeat;
    width:1000px;
    height:300px;
}
}
body {
    margin: 60px auto;
    width: 70%;
    background-color: #54A9A4;
}
nav ul, footer ul {
    font-family:Verdana, Geneva, sans-serif;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #FDE511;
    font-family:Verdana, Geneva, sans-serif;
}
a:hover {
    text-decoration: underline;
    color: #FD643B;
}
h1 {
    font-size: 2.7em;
    font-family:Verdana, Geneva, sans-serif;
}
h2 {
    font-size: 1.7em;
    font-family:Verdana, Geneva, sans-serif;
}

p {
    font-size: 1.2em;
    line-height: 1.4em;
    color: #000000;
    font-family:Verdana, Geneva, sans-serif;
}

footer {
    border-top: 4px solid #72D903;
    font-size: .8em;
    border-bottom: 4px solid #FD643B;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.2em;
    font-family:Verdana, Geneva, sans-serif;
}
ul { 
    margin: 20px auto 40px; 
    font-size: 1.2em;
    line-height: 1.4em;
    font-family:Verdana, Geneva, sans-serif;
}

ul.posts li {
    list-style: none;
    font-family:Verdana, Geneva, sans-serif;
}
hr {
    color: #72D903;
    background-color: #72D903;
    height: 4px;
    border: 0;
    width: 100%;
}
