h3
{
  font: 180% Verdana, Geneva, sans-serif;
  font-weight: bold;
  color: #000000;
  background-color: #72D903;
}
h4
{
  font: 125% Verdana, Geneva, sans-serif;
  font-weight: bold;
  color: #000000;
  background-color: #FD643B;
}
body {
    background-color: #54A9A4;
}

.ol-control button{ 
    background-color: #54A9A4;
	color: #FD643B;
	
}
.ol-control button:hover{ 
    background-color: #72D903;
}
