h3
{
  font: 180% courier;
  font-weight: bold;
  color: Aqua;
  background-color: MediumBlue ;
}
h4
{
  font: 125% courier;
  font-weight: bold;
  color: DarkSlateGray;
  background-color: Aqua;
}
body {
    background-color: Gray;
}

.ol-control button{ 
    background-color: gray;
	color: Aqua;
	
}
.ol-control button:hover{ 
    background-color: DeepSkyBlue ;
}