<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="shortcut icon" type="image/png" href="/favicon5.png">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
				<li><a href="/presentations">Presentations</a></li>
				<li><a href="/publications">Publications</a></li>
	        		<li><a href="/blog">GeoBlog</a></li>
				<li><a href="/links">Links</a></li>
				<li><a href="/news">News</a></li>
				<li><a href="/gps traces viewer">GPS Viewer</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:ltclasper@aol.com">email</a></li>
	        		<li><a href="https://github.com/ltclasper">github.com/ltclasper</a></li>
				<li><a href="https://twitter.com/LukeClasper">twitter.com/LukeClasper</a></li>
				</ul>
			</footer>
		</body>
	</html>
